<% extends("layouts/base.html") %>

<% vlock(:body_class) do %>admin<% end %>

<% vlock(:title) do %>
  <% vlock(:page_title) %> · Admin ·
<% end %>

<% vlock(:body) do %>
  <header class="mainHeader">
    <div class="contentWrapper">
      <h1 class="mainHeader-title"><% vlock(:page_title) %></h1>
      <a href="/">
        <img class="mainHeader-logo" src="/images/logo.png" />
      </a>
      <nav class="mainHeader-nav">
        <ul>
          <li><a class="mainHeader-navItem" href="/"><%= t("admin.back_to_app") %></a></li>
          <% if is_admin? %>
            <li><a class="mainHeader-navItem" href="/admin/users"><%= t("admin.users") %></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <nav class="breadcrumbs">
    <div class="contentWrapper">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="/admin">Encuentra tu Mascota Admin</a>
        </li>
        <% vlock(:breadcrumb) %>
      </ul>
    </div>
  </nav>
  <div class="contentWrapper">
    <% vlock(:body) %>
  </div>
<% end %>
