<p class="sign-up-alternative"><%= t('main.index.log_in_alternative') %></p>
<div class="social-log-in-buttons">
  <%= link_to 'Facebook', '/auth/facebook', class: 'facebook-btn' %>
  <%= link_to 'Twitter', '/auth/twitter', class: 'twitter-btn' %>
</div>
