<p class="sign-up-alternative">o ingresa con</p>
<div class="social-log-in-buttons">
  <%= link_to 'Facebook', user_omniauth_authorize_path(:facebook), class: 'facebook-btn' %>
  <%= link_to 'Twitter', user_omniauth_authorize_path(:twitter), class: 'twitter-btn' %>
</div>
