<title><%= yield(:title) %> - Encuentratumascota</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Encuentra tu mascota es la forma más simple y rápida de publicar y encontrar mascotas perdidas, encontradas o en adopción en tu ciudad." />
<meta name="keywords" content="animales,animales perdidos,mascotas,perros perdidos,encontrados,adopcion,adoptar,perros,mascota perdida,uruguay" />
<meta http-equiv="Content-Language" content="es" />

<link href="/assets/favicon.png" rel="shortcut icon" type="image/png" />
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>

<% if Rails.env.development? %>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="cache-control" content="no-store">
  <meta http-equiv="cache-control" content="no-cache">
<% end %>

<script type="text/javascript" data-main="/assets/config.js" src="/assets/require.js"></script>
<script type="text/javascript" src="/assets/lib/modernizr.min.js"></script>

<script type="text/javascript">
  var switchTo5x = true;
</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
  stLight.options({
    publisher: "6a326696-bf06-4f6d-8221-291b12858002",
    doNotHash: false,
    doNotCopy: false,
    hashAddressBar: false
  });
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38186461-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript" src="/assets/compatibility.js"></script>

<script type="text/javascript">
  // IE fix
  if (typeof window.console === 'undefined') {
    // hax
    window.console = {
      log: function () {}
    };
  }

  // Debug constant
  var _DEBUG = <%= Rails.env.development? %>;
</script>
