<title><%= yield(:title) %> - Encuentratumascota</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/favicon.png" rel="shortcut icon" type="image/png" />
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>

<% if Rails.env.development? %>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="cache-control" content="no-store">
  <meta http-equiv="cache-control" content="no-cache">
<% end %>

<script type="text/javascript" data-main="/assets/config.js" src="/assets/require.js"></script>
<script type="text/javascript" src="/assets/lib/modernizr.min.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38186461-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
  // IE fix
  if (typeof window.console === 'undefined') {
    // hax
    window.console = {
      log: function () {}
    };
  }

  // Debug constant
  var _DEBUG = <%= Rails.env.development? %>;
</script>
