<script type="text/x-jQuery-tmpl" id="publication-template">
  <li>
    <div class="type-indicator ${publication.publication_type}"></div>
    <img src="${publication.attachment}" alt="${publication.pet_name}" />
    <div class="publication-info">
      <h1>
        ${publication.pet_name}
        <span class="ptype ${publication.publication_type}">${publication.publication_type}</span>
      </h1>
      <p>${publication.description}</p>
      <ul class="publication-details">
        <li class="breed">${publication.breed}</li>
        <li class="date">${publication.lost_on}</li>
      </ul>
    </div>
  </li>
</script>
