<div class="modal modal-create-account fade hide" data-backdrop="true" id="modal-create-account" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body">
    <form class="">
      <input type="text" id="create-account-email" placeholder="E-mail">
      <input type="text" id="create-account-username" placeholder="Nombre de usuario">
      <input type="text" id="create-account-password" placeholder="Password">
      <button id="btn-create-account" class="btn btn-golden btn-block btn-large btn-create-account">Crear cuenta</button>
    </form>
  </div>
  <div class="modal-footer">
    <p class="sign-up-alternative">o ingresa con</p>
    <div class="social-log-in-buttons">
      <a id="btn-create-account-facebook" class="btn-auth btn-facebook" href="#"><b>Facebook</b></a>
      <a id="btn-create-account-twitter" class="btn-auth btn-twitter" href="#"><b>Twitter</b></a>
    </div>
    <p>¿Ya eres usuario? <a href="#">Iniciar Sesión</a></p>
  </div>
</div>
