<div class="modal" id="modal-sign-in" tabindex="-1" role="dialog" data-show="false" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

  <div class="modal-body">
    <form class="">
      <input type="text" id="create-account-email" placeholder="E-mail">
      <input type="text" id="create-account-password" placeholder="Password">
      <button id="btn-create-account" class="btn btn-golden btn-block btn-large btn-create-account">Crear cuenta</button>
    </form>
  </div>
  <div class="modal-footer">
    <p>
      <span class="sign-in-alternative">o ingresa con</span>
      <a class="btn-auth facebook" href="#">Facebook</a>
      <a class="btn-auth twitter" href="#">Twitter</a>
    </p>
    <p>¿Ya eres usuario? <a href="#" class="btn-sign-in">Iniciar Sesi&oacute;n</a></p>
  </div>
</div>
