<p class="sign-up-alternative"><%= t('main.index.log_in_alternative') %></p>
<div class="social-log-in-buttons">
  <%= link_to '/auth/facebook', class: 'facebook-btn' do %>
    <span class="hide">Facebook</span>
  <% end %>
  <%= link_to '/auth/twitter', class: 'twitter-btn' do %>
    <span class="hide">Twitter</span>
  <% end %>
</div>
