body.admin-publications {

  table {
    span.status {
      font-weight: bold;
      float: right;
      &.active { color: #00FF00; }
      &.inactive { color: #0000FF; }
      &.closed { color: #FF0000; }
    }
  }
}
