{
  "s3_key": "...",
  "s3_secret": "...",
  "s3_bucket": "...",
  "facebook_key": "...",
  "facebook_secret": "...",
  "twitter_key": "...",
  "twitter_secret": "..."

  "mail_username": "...",
  "mail_password": "...",
  "mail_domain": "...",
  "mail_host": "...",
  "mail_port": 0
}
