{
  "app_url":"{{ app_url }}",
  "environment":"{{ app_environment }}",
  "session_secret":"{{ session_secret }}",
  "logs_dir":"{{ logs_dir }}",
  "database_host":"{{ database_host }}",
  "database_name":"{{ database_name }}",
  "database_user":"{{ database_user }}",
  "database_password":"{{ database_password }}",
  "s3_key": "{{ s3_key }}",
  "s3_secret": "{{ s3_secret }}",
  "s3_bucket": "{{ s3_bucket }}",
  "s3_region": "{{ s3_region }}",
  "facebook_key": "{{ facebook_key }}",
  "facebook_secret": "{{ facebook_secret }}",
  "twitter_key": "{{ twitter_key }}",
  "twitter_secret": "{{ twitter_secret }}"
}
