<h1>Admin::Publications#edit</h1>

<%= form_for @publication, url: admin_publication_path do |form| %>
  <%= render partial: 'admin/publications/form', locals: { form: form } %>

  <%= form.submit 'Update' %>
<% end %>
