<h1>Admin::Publications#index</h1>

<p><%= link_to 'Create publication', new_admin_publication_path %>

<table>
  <tr>
    <th>Pet name</th>
    <th>Actions</th>
  </tr>
  <% @publications.each do |publication| %>
    <tr>
      <td><%= publication.pet_name %></td>
      <td>
        <%= link_to 'Edit', edit_admin_publication_path(publication) %>
      </td>
    </tr>
  <% end %>
</table>
