/*
 *= require_self
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* Libraries */
@import "bourbon";
@import "reset";
@import "bootstrap.min";
@import "bootstrap-responsive.min";
@import "bootstrap-datepicker";

/* Config */
@import "config";

/* Custom */
@import "main";
@import "how_it_works";
@import "admin";
@import "admin/publications";

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $light_font_color;
  padding: 0;
  margin: 0;
}

/* Header *********************************************************/
.main-navigation {
  height: 80px;
  background: #000;
  @include linear-gradient(#363636, #171717);

  h1,
  h2 {
    display: none;
  }
  img.logo {
    float: left;
    margin: 15px 20px 0 40px;
  }
  hgroup {
    float: left;
  }

  .info-nav {
    float: left;
  }

  .main-nav-item {
    line-height: 80px;
    color: #FFF;
    float: left;
    padding: 0 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;

    &:hover,
    &.active {
      background: #111;
    }
  }

  #publication-new {
    float: right;
    margin-right: 10px;
    font-size: 1.1em;
    border-radius: 2px;
    padding: 10px 25px;
    margin-top: 20px;
  }

  #logged-out-nav {
    a.btn-sign-in {
      float: right;
      line-height: 80px;
      margin: 0 30px;

      text-decoration: none;
      color: #FFF;
      font-weight: bold;
      font-size: 1.4em;
    }
  }

  #logged-in-nav {
    float: right;
    position: relative;
    margin-right: 20px;
    height: 80px;

    #username {
      float: left;
      margin-right: 10px;
    }

    #user-image {
      display: inline-block;
      width: 20px;
      float: left;
      height: 20px;
      margin-top: 30px;
      margin-right: 10px;
      img {
        float: left;
      }
    }

    .nav-dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      padding: 5px 0;
      margin: 0;
      background: rgba(17, 17, 17, 0.9);

      li a {
        padding: 6px 6%;
        color: #FFF;
        width: 88%;
        float: left;
        text-decoration: none;

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}

/* Icons ***********************************************************/
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/assets/icons.png);
  background-repeat: no-repeat;

  &.dropdown-caret { background-position: -48px 3px; }
  &.breed-tag { background-position: 3px 3px; }
  &.time { background-position: -24px 2px; }
  &.back { background-position: -68px 2px; }
  &.toggle-left { background-position: -68px 2px; }
  &.toggle-right { background-position: -85px 2px; }
}

.big-icon {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: url(/assets/icons.png);
  background-repeat: no-repeat;

  &.empty-publication-list { background-position: 6px -20px; }
}

/* Forms ***********************************************************/
form {
  .error-message {
    display: none;
  }
  .error {
    input,
    select,
    textarea {
      border: 1px solid #FF0000;
    }
  }
}

/* Buttons **********************************************************/
.btn {
  font-weight: bold;
  border-radius: 3px;
}

