/*
 *= require_self
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* Libraries */
@import "bourbon";
@import "reset";
@import "bootstrap.min";
@import "bootstrap-responsive.min";
@import "bootstrap-datepicker";

/* Config */
@import "config";

/* Custom */
@import "main";
@import "how_it_works";
@import "admin";
@import "admin/publications";

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $light_font_color;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

/* Header *********************************************************/
.main-navigation {
  height: 80px;
  background: #000;
  @include linear-gradient(#4F4F4F, #171717);

  header {
    float: left;
    width: 24%;
  }

  nav {
    float: left;
    width: 76%;
    ul {
      margin: 0;
    }
  }

  hgroup {
    display: none;
  }

  .logo {
    float: left;
    margin: 22px 10%;
    width: 80%;
  }

  hgroup {
    float: left;
  }

  .primary-nav {
    float: right;
  }

  .secondary-nav {
    float: left;
    iframe {
      margin: 29px 5px;
      display: block;
    }
  }

  .main-nav-item {
    line-height: 80px;
    color: #FFF;
    float: left;
    padding: 0 15px;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;

    &:hover,
    &.active {
      background: #111;
    }
  }

  .dropdown-nav {
    position: relative;
    margin-right: 20px;
    height: 80px;

    .dropdown-list {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      padding: 5px 0;
      margin: 0;
      background: rgba(17, 17, 17, 0.9);

      li a {
        padding: 6px 6%;
        color: #FFF;
        width: 88%;
        float: left;
        text-decoration: none;

        &:hover {
          background-color: #333;
        }
      }
    }
    .dropdown-caret {
      margin: 25% 0;
    }
  }

  #publication-new {
    float: right;
    margin-right: 10px;
    font-size: 1.1em;
    border-radius: 2px;
    padding: 10px 25px;
    margin-top: 20px;
  }

  .btn-sign-in {
    float: right;
    line-height: 80px;
    margin: 0 30px;

    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 1.4em;
  }

  .logged-in-nav {
    #username {
      float: left;
      margin-right: 10px;
    }

    #user-image {
      display: inline-block;
      width: 20px;
      float: left;
      height: 20px;
      margin-top: 30px;
      margin-right: 10px;
      img {
        float: left;
      }
    }
  }
}

/* Icons ***********************************************************/
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/assets/icons.png);
  background-repeat: no-repeat;

  &.dropdown-caret { background-position: -48px 3px; }
  &.breed-tag { background-position: 3px 3px; }
  &.time { background-position: -24px 2px; }
  &.back { background-position: -68px 2px; }
  &.toggle-left { background-position: -68px 2px; }
  &.toggle-right { background-position: -85px 2px; }
}

.big-icon {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: url(/assets/icons.png);
  background-repeat: no-repeat;

  &.empty-publication-list { background-position: 6px -20px; }
}

/* Forms ***********************************************************/
form {
  .error-message {
    display: none;
  }
  .error {
    input,
    select,
    textarea {
      border: 1px solid #FF0000;
    }
  }
}

/* Buttons **********************************************************/
.btn {
  font-weight: bold;
  border-radius: 3px;
}

/* Alerts **********************************************************/
.alert {
  &.alert-info {
    border-color: #3A87AD;
  }

  &.alert-error {
    border-color: #B94A48;
  }
}

/* Countries dropdown **********************************************/
#countries {
  height: 30px;
  margin: 25px 5px;

  .country-item {
    background: #222;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    font-weight: normal;
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    width: 130px;
    margin: 1px 0;
    border: 1px solid #2E2E2E;

    &:hover {
      background: #242424;
    }
  }

  .country-icon {
    display: inline-block;
    float: left;
    width: 23px;
    height: 16px;
    margin: 7px 5px 7px 0;
    background: transparent url(/assets/flags.png) no-repeat;
    &.uy {
      background-position: -27px 0;
    }
    &.pe {
      background-position: 0 0;
    }
    &.ar {
      background-position: -27px -21px;
    }
    &.cl {
      background-position: 0 -21px;
    }
  }

  .dropdown-caret {
    margin: 4px 5px;
    float: right;
  }

  .dropdown-list {
    background: none;
  }
}

/* Media queries **************************************************/
@media screen and (max-width: 1200px) {
  .main-navigation {
    .secondary-nav {
      display: none;
    }
  }
}
