@import "config";

body.main {

  &.with-sidebar #main-panel {
    width: 66%;
    margin-left: 34%;
  }

  /* Map panel *************************************************************/
  #main-panel {
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 0;
    z-index: 1;
  }

  /* Form/listing/detail sidebar *******************************************/
  #main-sidebar {
    z-index: 10;
    position: absolute;
    width: 34%;
    top: 80px;
    bottom: 0;

    background: #F5F5F5;
    border-right: 1px solid #BBB;

    .sidebar-options {
      background: #FFF;
      padding: 15px 19px;
      @include box-shadow(0 0 4px 0 rgba(00, 00, 00, 0.5));

      button {
        width: 25%;
      }
    }

    .sidebar-item {
      margin: 0;
      position: absolute;
      width: 96%;
      padding: 0 2%;
      bottom: 0;
      overflow: auto;
      top: 60px;
    }

    /* PUBLICATION LIST **************************************************/
    ul#publication-list > li {
      display: block;
      clear: both;
      overflow: auto;
      cursor: pointer;
      background-color: #FFF;
      margin: 12px;
      position: relative;
      &:hover {
        background-color: fuchsia;
      }
      .type-indicator {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 8px;

        &.lost { background-color: $lost; }
        &.found { background-color: $found; }
        &.adoption { background-color: $adoption; }
      }
      .publication-info {
        float: left;
        margin-left: 10px;
        margin-top: 15px;
        h1 {
          color: $dark_font_color;
          font-size: 1.1em;
          line-height: 1.1em;
          margin: 0;
          .ptype {
            text-transform: uppercase;
            font-size: 0.7em;
            &.lost { color: $lost; }
            &.found { color: $found; }
            &.adoption { color: $adoption; }
          }
        }
        p {
          font-size: 0.8em;
        }
        ul.publication-details {
          background: fuchsia;
        }
      }
      img {
        width: 75px;
        float: left;
        margin: 10px 10px 10px 18px;
        @include border-radius(5px);
      }
    }

    /* NEW FORM ***********************************************************/
    #new-publication-container {
      h3 {
        font-size: 1.4em;
        color: $lighter_font_color;
        margin-left: 23px;
        margin-bottom: 0;
        margin-top: 23px;
        line-height: 1.5em;
      }

      .separator {
        height: 1px;
        @include linear-gradient(50deg, #F5F5F5 0%, #BBB 50%, #F5F5F5 100%);
        margin: 13px 0;
      }

      form {
        .control-label {
          float: left;
          width: 22%;
          padding-left: 10%;
          color: $lighter_font_color;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.9em;
          margin: 0;
          line-height: 2.3em;
        }

        #publication-submit,
        #cancel-publication {
          height: 50px;
        }

        #publication-submit {
          width: 63%;
          margin-right: 2%;
        }
        #cancel-publication {
          width: 30%;
        }
        .form-buttons {
          text-align: center;
        }
      }

      .note {
        font-size: 0.9em;
        color: $lighter_font_color;
        font-weight: bold;
        margin: 10px 0;
      }
    }
    /* PUBLICATION DETAIL **************************************************/
    #publication-detail-container {
      .detail-nav {
        line-height: 30px;
        margin: 7px 12px;
        .go-back {
          color: $lighter_font_color;
          text-decoration: none;
          .arrow {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: fuchsia;
          }
        }
      }
      .publication-detail-info {
        padding: 0 6%;
        width: 88%;
        ul.image-carousel {
          margin: 4px 0;
          li {
            text-align: center;
            background: #000;
            img {
              max-height: 200px;
            }
          }
        }
        h3 {
          color: $dark_font_color;
          .ptype {
            text-transform: uppercase;
            font-size: 0.7em;
            &.lost { color: $lost; }
            &.found { color: $found; }
            &.adoption { color: $adoption; }
          }
        }
        dl.lil-details {
          margin: 20px 0;
          overflow: auto;
          height: 0.9em;
          dt,
          dd {
            float: left;
            font-size: 0.9em;
            line-height: 0.9em;
          }
          dt {
            text-transform: uppercase;
            color: #777777;
            font-weight: normal;
            padding-left: 10px;
            border-left: 1px solid #BBB;
            margin-left: 10px;

            &:first-child {
              padding: 0;
              margin: 0;
              border: 0;
            }
          }
          dd {
            text-transform: uppercase;
            font-weight: bold;
            color: $lighter_font_color;
          }
        }
      }
      .contact {
        text-align: center;
        .btn {
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }

  /* MODALS *****************************************************/
  .modal {
    width: 370px;
    margin-left: -185px; /* - width / 2 */
    top: 60%;

    .modal-body {
      padding-top: 28px;

      label {
        display: none;
      }
      input {
        width: 87%;
        margin: 1% 5%;
      }
      .btn {
        width: 90%;
      }
    }

    .sign-up-alternative {
      text-align: center;
      margin-top: -25px;
      background: rgba(255, 255, 255, 0.5);
    }

    .social-log-in-buttons {
      margin: 0 11%;

      .facebook-btn,
      .twitter-btn {
        background: transparent url(facebook.png) no-repeat left top;
        width: 127px;
        height: 32px;
        display: block;
        color: transparent;
        float: left;
      }
      .twitter-btn {
        background-image: url(twitter.png);
        margin-left: 10px;
      }
    }
    p.register {
      padding-top: 15px;
      display: block;
      clear: both;
    }
  }

  /* Messages *******************************************************/
  .alert {
    position: absolute;
    margin: 2%;
    width: 93%;
    padding: 1% 1.5%;
    border: 1px solid #000;
    @include border-radius(5px);

    &.info {
      background: fuchsia;
      border-color: #0000B5;
      color: #000;
    }
  }
}

/* GMaps fixes **********************************************************/
#main-panel {
  img {
    max-width: inherit;
  }
}
