@import "config";

body.main {

  &.with-sidebar #main-panel {
    width: 66%;
    margin-left: 34%;
  }

  /* Map panel *************************************************************/
  #main-panel {
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 0;
    z-index: 1;
  }

  /* Form/listing/detail sidebar *******************************************/
  #main-sidebar {
    z-index: 10;
    position: absolute;
    width: 34%;
    top: 80px;
    bottom: 0;

    background: #F5F5F5;
    border-right: 1px solid #BBB;

    .sidebar-options {
      background: #FFF;
      padding: 15px 19px;
      @include box-shadow(0 0 4px 0 rgba(00, 00, 00, 0.5));

      button {
        width: 25%;
      }
    }

    /* PUBLICATION LIST **************************************************/
    ul#publication-list {
      margin: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      overflow: auto;
      top: 60px;
      > li {
        display: block;
        clear: both;
        overflow: auto;
        cursor: pointer;
        background-color: #FFF;
        margin: 12px;
        position: relative;
        &:hover {
          background-color: #F5F5F5;
        }
        .type-indicator {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 8px;

          &.lost { background-color: $lost; }
          &.found { background-color: $found; }
          &.adoption { background-color: $adoption; }
        }
        .publication-info {
          float: left;
          margin-left: 10px;
          margin-top: 15px;
          h1 {
            color: $dark_font_color;
            font-size: 1.1em;
            line-height: 1.1em;
            margin: 0;
            .ptype {
              text-transform: uppercase;
              font-size: 0.7em;
              &.lost { color: $lost; }
              &.found { color: $found; }
              &.adoption { color: $adoption; }
            }
          }
          p {
            font-size: 0.8em;
          }
        }
        img {
          width: 75px;
          float: left;
          margin: 10px 10px 10px 18px;
          @include border-radius(5px);
        }
      }
    }

    /* NEW FORM ***********************************************************/
    #new-publication-container {
      margin: 0;
      position: absolute;
      bottom: 0;
      overflow: auto;
      top: 65px;
      padding: 0 20px;

      h3 {
        font-size: 1.4em;
        color: $lighter_font_color;
        margin-left: 23px;
        margin-bottom: 0;
        line-height: 1.5em;
      }

      .separator {
        height: 1px;
        @include linear-gradient(50deg, #F5F5F5 0%, #BBB 50%, #F5F5F5 100%);
        margin: 13px 0;
      }

      form {
        .control-label {
          float: left;
          width: 22%;
          padding-left: 10%;
          color: $lighter_font_color;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.9em;
          margin: 0;
          line-height: 2.3em;
        }

        #publication-submit,
        #cancel-publication {
          height: 50px;
        }

        #publication-submit {
          width: 63%;
          margin-right: 2%;
        }
        #cancel-publication {
          width: 30%;
        }
      }

      .note {
        font-size: 0.9em;
        color: $lighter_font_color;
        font-weight: bold;
        margin: 10px 0;
      }
    }
  }

  /* MODALS *****************************************************/
  .modal {
    width: 370px;
    margin-left: -185px; /* - width / 2 */
    top: 60%;

    .modal-body {
      padding-top: 28px;

      label {
        display: none;
      }
      input {
        width: 87%;
        margin: 1% 5%;
      }
      .btn {
        width: 90%;
      }
    }

    .sign-up-alternative {
      text-align: center;
      margin-top: -25px;
      background: rgba(255, 255, 255, 0.5);
    }

    .social-log-in-buttons {
      margin: 0 11%;

      .facebook-btn,
      .twitter-btn {
        background: transparent url(facebook.png) no-repeat left top;
        width: 127px;
        height: 32px;
        display: block;
        color: transparent;
        float: left;
      }
      .twitter-btn {
        background-image: url(twitter.png);
        margin-left: 10px;
      }
    }
    p.register {
      padding-top: 15px;
      display: block;
      clear: both;
    }
  }

  /* Messages *******************************************************/
  .message {
    position: absolute;
    margin: 2%;
    width: 93%;
    padding: 1% 1.5%;
    border: 1px solid #000;
    @include border-radius(5px);

    &.info {
      background: rgba(87, 87, 255, 0.9);
      border-color: #0000B5;
      color: #000;
    }
  }
}

/* GMaps fixes **********************************************************/
#main-panel {
  img {
    max-width: inherit;
  }
}
