@import "config";

body.main-index {
  &.with-sidebar {
    #main-panel {
      width: 66%;
      margin-left: 34%;
      left: 0;
    }
    .sidebar-toggle.on {
      display: none;
    }
    .sidebar-toggle.off {
      position: relative;
      top: inherit;
      right: inherit;
      margin: 5px 0 0 10px;
    }
    #main-sidebar {
      display: block;
    }
  }

  .sidebar-toggle.on {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 100;
    line-height: 0;
    background: #FFF;
    bottom: 0;
    width: 2%;
    cursor: pointer;
    overflow: hidden;
    @include box-shadow(1px 0 3px 0 rgba(00, 00, 00, 0.5));

    span {
      margin-top: 15px;
      margin-left: 5px;
    }
  }

  .sidebar-toggle.off {
    display: inline-block;
  }

  /* Map panel *************************************************************/
  #main-panel {
    width: 98%;
    position: absolute;
    top: 80px;
    bottom: 0;
    z-index: 1;
    left: 2%;
  }

  /* Form/listing/detail sidebar *******************************************/
  #main-sidebar {
    z-index: 10;
    position: absolute;
    width: 34%;
    top: 80px;
    bottom: 0;
    display: none;

    background: #F5F5F5;
    border-right: 1px solid #BBB;

    .sidebar-options {
      background: #FFF;
      padding: 15px 0 15px 15px;
      overflow: auto;
      @include box-shadow(0 0 4px 0 rgba(00, 00, 00, 0.5));

      button {
        width: 23%;
        font-weight: normal;
        float: left;
      }
    }

    .sidebar-item {
      margin: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      top: 0;
      overflow: auto;
      display: none;
    }

    /* PUBLICATION LIST **************************************************/
    #publication-list {
      .empty-state {
        display: none;
        text-align: center;
        width: 50%;
        font-size: 1.2em;
        color: $lighter_font_color;
        margin: 20% 25%;
        .big-icon {
          display: block;
          margin: 10px auto;
        }
      }
      > ul {
        margin: 0;
        > li {
          display: block;
          clear: both;
          overflow: auto;
          cursor: pointer;
          background-color: #FFF;
          margin: 3%;
          position: relative;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid #DDD;
          }
          .type-indicator {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 8px;

            &.lost { background-color: $lost; }
            &.found { background-color: $found; }
            &.adoption { background-color: $adoption; }
          }
          img {
            width: 22%;
            float: left;
            margin: 3% 2% 2% 5%;
            border-radius: 5px;
          }
          .publication-info {
            float: left;
            margin: 15px 2%;
            width: 60%;
            h1 {
              color: $dark_font_color;
              font-size: 1.1em;
              line-height: 1.1em;
              margin: 0;
              .ptype {
                text-transform: uppercase;
                font-size: 0.7em;
                &.lost { color: $lost; }
                &.found { color: $found; }
                &.adoption { color: $adoption; }
              }
            }
            p {
              font-size: 0.9em;
              line-height: 1.3em;
            }
            ul.publication-details {
              margin: 0;
              li {
                float: left;
                color: #999;
                font-size: 0.9em;
                margin-right: 10px;
                .icon {
                  margin-right: 4px;
                  float: left;
                }
              }
            }
          }
        }
      }
    }

    /* NEW FORM ***********************************************************/
    #new-publication-container {
      h3 {
        font-size: 1.4em;
        color: $lighter_font_color;
        margin-left: 23px;
        margin-bottom: 0;
        margin-top: 23px;
        line-height: 1.5em;
      }

      .separator {
        height: 1px;
        @include linear-gradient(50deg, #F5F5F5 0%, #BBB 50%, #F5F5F5 100%);
        margin: 17px 0;
      }

      form {
        margin: 0;
        .control-label {
          float: left;
          width: 20%;
          padding: 0 8%;
          color: $lighter_font_color;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.9em;
          margin: 0;
          line-height: 2.3em;
        }

        .controls {
          margin-left: 36%;
          textarea,
          input,
          select {
            width: 88%;
            margin: 0;
          }
        }

        .sex-control {
          overflow: auto;
          label {
            float: left;
            display: inline-block;
          }
          input {
            width: inherit;
            float: left;
            margin: 0 8px;
          }
        }

        #publication-submit {
          width: 54%;
          margin-right: 2%;
          @include linear-gradient(50deg, #1CA901 0%, #21C100 100%);
        }
        #cancel-publication {
          width: 30%;
        }
        .form-buttons {
          text-align: center;
          a.btn { height: 20px; }
          button.btn { height: 48px; }
        }
      }

      .note {
        font-size: 0.8em;
        color: $lighter_font_color;
        text-align: center;
      }
    }
    /* PUBLICATION DETAIL **************************************************/
    #publication-detail-container {
      .detail-nav {
        line-height: 30px;
        margin: 7px 12px;
        .go-back {
          color: $lighter_font_color;
          text-decoration: none;
          .icon {
            float: left;
            margin-right: 1px;
            margin-top: 5px;
          }
        }
      }
      .publication-detail-info {
        padding: 0 6%;
        width: 88%;
        ul.image-carousel {
          margin: 4px 0;
          position: relative;
          height: 200px;
          li {
            position: absolute;
            width: 100%;
            text-align: center;
            background: #000;
            img {
              height: 200px;
            }
          }
        }
        h3 {
          color: $dark_font_color;
          .ptype {
            text-transform: uppercase;
            font-size: 0.7em;
            &.lost { color: $lost; }
            &.found { color: $found; }
            &.adoption { color: $adoption; }
          }
        }
        dl.lil-details {
          margin: 20px 0;
          overflow: auto;
          height: 0.9em;
          dt,
          dd {
            float: left;
            font-size: 0.9em;
            line-height: 0.9em;
          }
          dt {
            text-transform: uppercase;
            color: #777777;
            font-weight: normal;
            padding-left: 10px;
            border-left: 1px solid #BBB;
            margin-left: 10px;

            &:first-child {
              padding: 0;
              margin: 0;
              border: 0;
            }
          }
          dd {
            text-transform: uppercase;
            font-weight: bold;
            color: $lighter_font_color;
          }
        }
        .sharethis-nav {
          margin: 15px 0;
          text-align: center;
        }
      }
      .contact-info {
        display: none;
        margin: 0 6%;
        width: 82%;
        border: 1px solid #CCC;
        padding: 3%;
        border-radius: 5px;
        background: #EEE;
      }
      .contact {
        text-align: center;
        .btn {
          width: 90%;
          height: 40px;
          margin-bottom: 10px;
          display: none;
        }
      }
    }
  }

  /* MODALS *****************************************************/
  .modal {
    width: 370px;
    margin-left: -185px; /* - width / 2 */
    top: 60%;

    .modal-body {
      padding-top: 28px;

      label {
        display: none;
      }
      input {
        width: 87%;
        margin: 1% 5%;
      }
      .btn {
        width: 90%;
      }
    }

    .sign-up-alternative {
      text-align: center;
      margin-top: -25px;
      background: rgba(255, 255, 255, 0.5);
    }

    .social-log-in-buttons {
      margin: 0 11%;

      .facebook-btn,
      .twitter-btn {
        background: transparent url(facebook.png) no-repeat left top;
        width: 127px;
        height: 32px;
        display: block;
        color: transparent;
        float: left;
      }
      .twitter-btn {
        background-image: url(twitter.png);
        margin-left: 10px;
      }
    }
    p.register {
      padding-top: 15px;
      display: block;
      clear: both;
      text-align: center;
    }
  }

  /* Messages *******************************************************/
  .alert {
    position: absolute;
    margin: 2% 9%;
    width: 72%;
    z-index: 100;
  }
}

/* GMaps fixes **********************************************************/
#main-panel {
  img {
    max-width: inherit;
  }
}
