<h1>Admin::Users#index</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Is admin?</th>
    <th>Provider</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.is_admin? %></td>
      <td><%= user.provider.capitalize %></td>
      <td>
        <%= link_to 'Edit', edit_admin_user_path(user) %>
      </td>
    </tr>
  <% end %>
</table>
